html {
  position: relative;

}

.jumbotron img {
  width: 300px;

}

.jumbotron {
  background-color: rgba(50, 115, 220, 0.2);
  padding-top: 100px;
}

hr {
  width: 50%;
  border-top: 3px solid #999;
}

section {
  min-height: 300px;
}

.portfolio {
  background-color: rgba(50, 115, 220, 0.2);
}

.contact {
  min-height: 800px;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 100px;
  background-color: #333;
  padding-top: 30px;
}

footer p {
  color: #aaa;
  font-size: 0.9em;
}

.portfolio img {
  border: 3px solid #999;
  width: 300px;
  height: 300px;

}
