body {
    padding: 0;
    margin: o;
    background: whitesmoke;
}
header {
    background: maroon;
    color: white;
    padding: 50px;
    margin: 2in;
}
strong {
    color: maroon;
    font-size: 10pt;
}
#products {
    padding: 50px;
}

.item {
    display: inline-block;
    width: 200px;
    height: 230px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}